body {
    margin : 0;
    padding : 0;
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    display : flex;
}

.side-bar {
    position: relative;
    min-width: 30vw;
    flex-grow: 1;
    height: 100vh;
    background-image: url(./img/aron-visuals-LSFuPFE9vKE-unsplash.jpg);
    background-size: cover;
}

.title-div{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0, 0.3);
    color : white;
    top : 5rem;
    gap : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 10px 0px;
}

img {
    height: auto;
    width: 20%;
}

.footer {
    position: absolute;
    bottom: 5px;
    left : 50%;
    transform: translateX(-50%);
    white-space:nowrap;
    color: white;
}

.side-bar a, a:visited {
    color: white;
}

.main-content {
    min-width: 70vw;
    background-color: rgba(222, 243, 255, 0.5);
}

.header-content {
    flex-grow: 3;
    padding : 50px 60px 20px 20px;
    font-size: 18px;
}

input, label, button, ul, li {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
}

form {
    height: 40vh;
    background-color: white;
    padding: 10px 60px 20px 20px;
    box-shadow: 0px 15px 10px -15px rgb(212, 207, 207);
}

ul {
    display: grid;
    grid-template-columns: 200px 200px;
    /* grid-template-rows: 1fr 1fr; */
    column-gap: 40px;
    row-gap: 20px;
}

li {
    display: grid;
    list-style: none;
}
input{
    width: 200px;
}

.bottom-content {
    position: relative;
}

button {
    padding : 10px 30px;
    background-color: rgb(11,67,102);
    color : white;
    border: none;
    border-radius: 5px;
    position: relative;
    top : 20px;
    left : 20px
}

.login {
    position: relative;
    top : 30px;
    left : 20px;
}

.bottom-content a, a.visited {
    color : rgb(11,67,102);
    text-decoration: none;
    font-weight: bold;
}



