@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --left-margin : 3rem;
    --right-margin : 10rem;
}

body {
    margin : 0;
    padding : 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

/* LEFT CONTENT */
.content {
    display : flex;
    min-height: 100vh;
}

.side-bar {
    position: relative;
    flex : 2;
    background-image: url(./img/aron-visuals-LSFuPFE9vKE-unsplash.jpg);
    background-position: center center;
    background-color: #464646;
    background-size: cover;
    color: white;
}

.title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0.5rem;
    font-size: 7rem;
    font-family: 'Six Caps', sans-serif;
    margin-top: 20vh; 
    padding : 1rem 1rem;
    background-color: rgba(0,0,0, 0.3);

}

.logo {
    height: 9rem;
}

.footer {
    position: absolute;
    font-size: 1rem;
    bottom: 10px;
    left : 50%;
    transform: translateX(-50%);
    white-space:nowrap;
}

.side-bar a, a:visited {
    color: white;
}

/* RIGHT CONTENT */
.main-content {
    display: flex;
    flex : 5;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(152,201,219, 0.2);
}

p {
    font-size: 1.5rem;
}

.header-content {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    display : flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
}
form {
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
h2 {
    margin-bottom: 1.5rem;
}

.form-div {
    background-color: white;
    box-shadow: 0px 15px 10px -15px rgb(118, 116, 116);
    padding-bottom: 2.5rem;
    
}

input, label, button, ul, li {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
}

label {
    font-size: 1.5rem;
}

input {
    height: 2rem;
    padding : 0.2rem 0.5rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-template-rows: repeat(3, 2rem);
    column-gap: 15rem;
    row-gap: 5rem;
}
li {
    display: grid;
    list-style: none;
    row-gap: 0.5rem;
} 

.bottom-content {
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
}

.bottom-content a, a.visited {
    color : rgb(11,67,102);
    text-decoration: none;
    font-weight: bold;
} 
input:focus {
    border: 1px solid rgb(11,67,102);
    outline:none;
    border-radius: 2px;
    box-shadow: 2px 4px 6px 0px rgb(11,67,102);
}


button {
    padding : 0.6rem 2rem;
    background-color: rgb(11,67,102);
    color : white;
    border: none;
    border-radius: 5px;
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    margin-top: 2rem;
} 

.login {
    padding-top: 2rem;

}


input[type="password"].error + span::after {
    content : "*Passwords do not match";
    font-size: 1rem;
    color : red;

}


input[type="password"].valid + span::after {
    content : "Passwords match !";
    font-size: 1rem;
    color : green;

}

.valid {
    border : 1px solid green;
    border-radius: 2px;
}
.error {
    border : 1px solid red;
    border-radius: 2px;
}