body {
    margin : 0;
    padding : 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* LEFT CONTENT */
.content {
    display : flex;
}

.side-bar {
    position: relative;
    min-width: 30vw;
    min-height: 100vh;
    background-image: url(./img/aron-visuals-LSFuPFE9vKE-unsplash.jpg);
    background-position: center center;
    background-color: #464646;
    background-size: cover;
}

.title-div{
    width: 100%;
    background-color: rgba(0,0,0, 0.3);
    color : white;
    position: relative;
    top : 150px;
    display: flex;
    gap : 10px;
    justify-content: center;
    align-items: center;
    padding : 10px 0px;
}

.logo {
    height: auto;
    width: 20%;
}

.footer {
    position: absolute;
    font-size: 0.7rem;
    bottom: 10px;
    left : 50%;
    transform: translateX(-50%);
    white-space:nowrap;
    color: white;
}

.side-bar a, a:visited {
    color: white;
}


/* RIGHT CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(152,201,219, 0.2);
}
.header-content {
    flex : 0.7;
    padding : 3rem 7rem 3rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.form-div {
    flex : 1;
    background-color: white;
    padding-left : 1.5rem;
    padding-bottom : 2rem; 
    box-shadow: 0px 15px 10px -15px rgb(118, 116, 116);
}

input, label, button, ul, li {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding : 0;
    margin : 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 12.5rem);
    grid-template-rows: repeat(3, 2rem);
    column-gap: 2.5rem;
    row-gap: 1.5rem;
}
li {
    display: grid;
    list-style: none;
} 

.bottom-content {
    flex : 0.5;
    padding-top: 1rem ;
    padding-left : 1.5rem;
}

.bottom-content a, a.visited {
    color : rgb(11,67,102);
    text-decoration: none;
    font-weight: bold;
} 
input:focus {
    border: 1px solid rgb(11,67,102);
    outline:none;
    border-radius: 2px;
    box-shadow: 2px 4px 6px 0px rgb(11,67,102);
}


button {
    padding : 0.6rem 2rem;
    background-color: rgb(11,67,102);
    color : white;
    border: none;
    border-radius: 5px;
    position: relative;
    top : 2rem;
    left : 1.5rem;
} 

.login {
    padding-top: 2rem;
}


input[type="password"].error + span::after {
    content : "*Passwords do not match";
    font-size: 10px;
    color : red;

}


input[type="password"].valid + span::after {
    content : "Passwords match !";
    font-size: 10px;
    color : green;

}

.valid {
    border : 1px solid green;
    border-radius: 2px;
}
.error {
    border : 1px solid red;
    border-radius: 2px;
}